input[type=checkbox], input[type=radio] {
    margin: 0;
}
.form-application-registration-detail label {
    font-weight: normal;
}
.float-left {
    float: left!important;
}
.p-0 {
    padding: 0!important;
}

.svg-inline--fa.fa-w-16 {
    width: 1em;
}

main#main {
    margin-top: 20px;
}